.food-item-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 20px;

  .food-item-image-container {
    flex: 0 0 100px;
    margin-right: 20px;

    .food-item-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .food-item-details {
    flex: 1;

    .food-item-name {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .food-item-calories {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }

    .food-item-serving-size {
      font-size: 1.2rem;
    }
  }
}